body {
    background-color: white;
}

.first, .second, .third, .fourth, .fifth, .sixth, .seventh, .eighth, .ninth, .tenth{
    background-color: red;
    width: 100px;
    height: 100px;
}

.bg-color {
    background-color: blue;
}

div.first {
    opacity: 0.5;
}

div.second {
    opacity: 0.7
  }
