body {
    background-color: black;
}
h1 {
    color: red;
}
h2 {
    color: rosybrown;
}
.p1 {
    color: royalblue;
}
.p2 {
    color: salmon;
}
.li1 {
    color: seagreen;
}
.li2 {
    color: silver;
}
.li3 {
    color: springgreen;
}
.li4 {
    color: tomato;
}
.li5 {
    color: violet;
}
